.scrollbar-component{
	width: 60%;
	height: 400px;
	margin: 100px auto;
	overflow: hidden;
	position: relative;
}
.scrollbar-component .scrollbar-master{
	position: absolute;
	left: 0;
	top: 0;
	width: calc(100% + 20px);
	height: 100%;
	padding-right: 20px;
	overflow-y: scroll;
}
.scrollbar-component .scrollbar-servant{
	position: absolute;
	right: 10px;
	top: 0px;
	width: 4px;
	height: 100%;
	border-radius: 2px;
	background-color: #ccc;
}
.scrollbar-component .scrollbar-servant-tool{
	position: absolute;
	left: -1px;
	top: 0px;
	width: 6px;
	height: 30px;
	border-radius: 3px;
	background-color: #999;
	cursor: pointer;
}